<a href="https://colab.research.google.com/github/Vignesh424/Pima-DecisionTree-RandomForest/blob/main/Random_Forest_Pima.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import packages
import numpy as np
import pandas as pd

In [ ]:
#read the data
data = pd.read_csv('/content/diabetes.csv')

In [ ]:
#shape of the data
data.shape

(768, 9)

In [ ]:
#info of the data
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
#statistics of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
#divide in X and Y
X = data.drop('Outcome', axis=1)
Y = data['Outcome']

In [ ]:
#split into Training and Testing
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.25)

In [ ]:
#Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X,Y)

RandomForestClassifier()

In [ ]:
#UNSEEN DATA
Y_pred = rf.predict(X_test)

In [ ]:
#Actual and Predicted
new_data = pd.DataFrame({'Actual':Y_test,'Predicted':Y_pred})
new_data

     Actual  Predicted
62        0          0
19        1          1
273       0          0
766       1          1
243       1          1
..      ...        ...
587       0          0
714       0          0
7         0          0
418       0          0
67        0          0

[192 rows x 2 columns]

In [ ]:
#classification report and confusion matrix
from sklearn.metrics import *
print('Confusion_Matrix\n',confusion_matrix(Y_test, Y_pred))
print()
print()
print('Classification Report\n',classification_report(Y_test, Y_pred))

Confusion_Matrix
 [[131   0]
 [  0  61]]


Classification Report
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       131
           1       1.00      1.00      1.00        61

    accuracy                           1.00       192
   macro avg       1.00      1.00      1.00       192
weighted avg       1.00      1.00      1.00       192